button {
    font-size: var(--font-14);
    padding: var(--s-0_75) var(--s-1);
    margin: var(--s-0_25) var(--s-0_5);
    background-color: var(--violetish);
    border: 2px solid var(--violetish);
    border-radius: 4px;
    cursor: pointer;
    color: var(--white);
}

button:hover {
    background-color: var(--violet);
    box-shadow: var(--btn-shadow);
}

button:active {
    box-shadow: none;
    outline: none;
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.card {
    margin-bottom: var(--s-1);
    background-color: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 0.4rem;
}

.error {
    color: red;
    font-size: var(--font-24);
}